.alert-message グループを追加しました
.wrapper
  .sidebar
    .sidebar-header
      .sidebar-header__content
        %p.sidebar-header__content__current-username 山田
        %ul.sidebar-header__content__menu
          %li.sidebar-header__content__menu__btn-edit-account
            = link_to "#" do
              = fa_icon 'edit'
          %li.sidebar-header__content__menu__btn-create-group
            = link_to "#" do
              = fa_icon 'cog'
    .grouplist
      = link_to "#" do
        .group
          %p.group__name グループA
          %p.group__message こんにちは
      = link_to "#" do
        .group
          %p.group__name グループB
          %p.group__message 画像が投稿されました
      = link_to "#" do
        .group
          %p.group__name グループC
          %p.group__message まだメッセージがありません
  .main
    .main-header
    .chat
    .main-bottom