.wrapper
  = render partial: "shared/sidebar"
  .main
    .main-header
      .main-header__left
        %p.main-header__left__group-name=@group.name
        %ul.main-header__left__member-list
          Member：
          - @group.users.each do |user|
            %li.main-header__left__member-list__member=user.name
      = link_to edit_group_path(@group.id) do
        .main-header__btn-edit-group Edit
    .chat
      - @messages.each do |message|
        .chat__message
          .chat__message__info
            .chat__message__info__username=message.user.name
            .chat__message__info__date=message.updated_at.strftime("%Y/%m/%d %H:%M")
          .chat__message__text=message.content
          = image_tag message.image.to_s
    .main-bottom
      = form_for([@group, @message], html: {class: "chat-form"}) do |f|
        .chat-form__content
          = f.text_field :content, class: "chat-form__content__message", placeholder: "type a message"
          = f.label :image, class: "chat-form__content__img-upload" do
            = fa_icon "picture-o"
            = f.file_field :image, class: "chat-form__content__img-upload__input"
        %input.chat-form__btn-submit{type: "submit", value: "Send"}
