.sidebar
  .sidebar-header
    .sidebar-header__content
      %p.sidebar-header__content__current-username
        = current_user.name
      %ul.sidebar-header__content__menu
        %li.sidebar-header__content__menu__btn-create-group
          = link_to new_group_path do
            = fa_icon 'edit'
        %li.sidebar-header__content__menu__btn-edit-account
          = link_to edit_user_path(current_user) do
            = fa_icon 'cog'
  .grouplist
    - @groups.each do |group|
      = link_to group_messages_path(group.id) do
        .group
          %p.group__name=group.name
          %p.group__message=group.show_last_message